	</div>
	<div class="span4">
  <h2>Weatherdata</h2>
  <h5><small>Last updated  ago </small></h5> 
  <p>
    <strong>Temperature: </strong>
     <%= @measurement.temp.round(1) %> </p>
  </p>
  <p>
    <strong>Dewpoint: </strong>
     <%= @measurement.dewp.round(1) %> </p>
  </p>
  <p>
    <strong>Airpressure: </strong>
     <%= @measurement.stp.round(1) %> </p>
  </p>
  <p>
    <strong>Stationpressure: </strong>
     <%= @measurement.slp.round(1) %> </p>
  </p>
  <p>
    <strong>Visibility: </strong>
     <%= @measurement.visib.round(1) %> </p>
  </p>
  <p>
    <strong>Windspeed: </strong>
     <%= @measurement.wdsp.round(1) %> </p>
  </p>
  <p>
    <strong>Precipitation: </strong>
     <%= @measurement.prcp.round(1) %> </p>
  </p>
  <p>
    <strong>Snowlevel: </strong>
     <%= @measurement.sndp.round(1) %> </p>
  </p>
  <p>
    <strong>Cloudcoverage: </strong>
     <%= @measurement.cldc.round(1) %> </p>
  </p>
  <p>
    <strong>Winddirection: </strong>
     <%= @measurement.wnddir %> </p>
  </p>
  <h2> Nearby stations </h2>
  <% if @station.nearbys(25).any? %>
	  <% for s in @station.nearbys(25) %>
	  	<li><%= link_to "#{s.country.capitalize}, #{s.city.capitalize}", s %> (<%= (s.distance_from(@station.coordinates) ) %>km) </li>
	  <% end %>
	<% else %>
		<p> No stations found in a radius of 25km. </p>
	<% end %>