  <% @datasets.each_with_index do |dataset, i|%>
  <% i = i + 1 %>
  <% if dataset.size > 0 %>
      <h2>Weatherdata dataset <%= i %></h2>
      <h5><small>Last updated <%= time_ago_in_words(dataset.last.date) %> ago</small></h5>
      <table class="small_text zebra-striped">
      <th></th>
      <th>Temperature</th>
      <th>Dewpoint</th>
      <th>Airpressure</th>
      <th>Stationpressure</th>
      <th>Visibility</th>
      <th>Windspeed</th>
      <th>Precipitation</th>
      <th>Snowlevel</th>
      <th>Cloudcoverage</th>
      <th>Winddirection</th>
      <% for measurement in dataset%>
          <tr>
            <td><strong><%= measurement.date.strftime('%m/%d/%Y') %></strong></td>
            <td><%= measurement.temp.round(1) %></td>
            <td><%= measurement.dewp.round(1) %></td>
            <td><%= measurement.stp.round(1) %></td>
            <td><%= measurement.slp.round(1) %></td>
            <td><%= measurement.visib.round(1) %></td>
            <td><%= measurement.wdsp.round(1) %></td>
            <td><%= measurement.prcp.round(1) %></td>
            <td><%= measurement.sndp.round(1) %></td>
            <td><%= measurement.cldc.round(1) %></td>
            <td><%= measurement.wnddir.round %> </td>
          </tr>
      <% end %>
      </table>
  <% end %>
  <% end %>


<% if @datasetthree.size > 0 %>
<!-- Dataset three here graph -->
<% end %>