	</div>
	<div class="span4">
  <h2>Weatherdata</h2>
  <h5><small>Last updated <%= time_ago_in_words(@last_updated) %> ago </small></h5> 
  <p>
    <strong>Temperature: </strong>
     <%= @temp %> </p>
  </p>
  <p>
    <strong>Dewpoint: </strong>
     <%= @dewpoint %> </p>
  </p>
  <p>
    <strong>Airpressure: </strong>
     <%= @airpressure %> </p>
  </p>
  <p>
    <strong>Stationpressure: </strong>
     <%= @stationpressure %> </p>
  </p>
  <p>
    <strong>Visibility: </strong>
     <%= @visibility %> </p>
  </p>
  <p>
    <strong>Windspeed: </strong>
     <%= @windspeed %> </p>
  </p>
  <p>
    <strong>Precipitation: </strong>
     <%= @precipitation %> </p>
  </p>
  <p>
    <strong>Snowlevel: </strong>
     <%= @snow %> </p>
  </p>
  <p>
    <strong>Cloudcoverage: </strong>
     <%= @cloudcoverage %> </p>
  </p>
  <p>
    <strong>Winddirection: </strong>
     <%= @winddir %> </p>
  </p>
  <h2> Nearby stations </h2>
  <% if @station.nearbys(100).any? %>
	  <% for station in @station.nearbys(100) %>
	  	<li><%= link_to "#{station.country.capitalize}, #{station.city.capitalize}", station %> (<%= (station.distance * Geocoder::Calculations.mi_in_km).round(2) %>km) </li>
	  <% end %>
	<% else %>
		<p> No stations found in a radius of 100km. </p>
	<% end %>