<% title "Stations" %>

<%= form_tag stations_path, :method => :get do %>
  <div class="input-prepend" style=" float: left; padding-right: 10px;">
      <span class="add-on">Search</span>
      <%= text_field_tag :search, params[:search], :placeholder => 'Search near a city/country', :id => 'prependedInput' %>
  </div>
  <div class="input-prepend" style="float: left; padding-right: 10px;">
    <span class="add-on">Distance</span>
    <%= text_field_tag :distance, params[:distance], :placeholder => 'In km', :class => "mini" %>
    </div>
   
    <%= submit_tag "Search Near", :name => nil, :class => 'btn primary' %>
<% end %>

<%= paginate @stations %>

<table class="zebra-striped">
  <tr>
    <th>Country</th>
    <th>City</th>
    <th>Show</th>
  </tr>
  <% for station in @stations %>
    <tr>
      <td><%= station.country.capitalize! %></td>
      <td><%= station.city.capitalize! %></td>
      <td><%= link_to "Show", station %></td>
    </tr>
  <% end %>
</table>

