<% title "Stations" %>

<%= render 'search' %>


<%= paginate @stations %> <%= link_to "Download all data", :download_all_xml, :class => "btn", :style => "float: right;" %>

<table class="zebra-striped">
  <tr>
    <th>Country</th>
    <th>City</th>
    <th>Show</th>
  </tr>
  <% for station in @stations %>
    <tr>
      <td><%= station.country.capitalize! %></td>
      <td><%= station.city.capitalize! %></td>
      <td><%= link_to "Show", station %></td>
    </tr>
  <% end %>
</table>

