<% title "Stations" %>

<%= form_tag stations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search], :placeholder => 'City' %>
    <%= text_field_tag :distance, params[:distance], :placeholder => 'Distance', :class => "mini" %>
    <%= submit_tag "Search Near", :name => nil, :class => 'btn small primary' %>
  </p>
<% end %>

<%= paginate @stations %>

<table class="zebra-striped">
  <tr>
    <th>Country</th>
    <th>City</th>
    <th>Show</th>
  </tr>
  <% for station in @stations %>
    <tr>
      <td><%= station.country.capitalize! %></td>
      <td><%= station.city.capitalize! %></td>
      <td><%= link_to "Show", station %></td>
    </tr>
  <% end %>
</table>

