<% title "Stations" %>

<%= render 'layouts/search' %>


<%= paginate @stations %> 

<%= link_to "Download as XML", :download_all_xml, :class => "btn", :style => "float: right; margin-top: -100px; /*lol haxx*/" %>

<table class="zebra-striped">
  <tr>
    <th>Country</th>
    <th>City</th>
    <th>Show</th>
  </tr>
  <% for station in @stations %>
    <tr>
      <td><%= station.country.capitalize! if station.country %></td>
      <td><%= station.city.capitalize! if station.city %></td>
      <td><%= link_to "Show", station %></td>
    </tr>
  <% end %>
</table>
