<% title "Station" %>

<div class="span10"
<p>
  <strong>Country:</strong>
  <%= @station.country.capitalize! %>
</p>
<p>
  <strong>City:</strong>
  <%= @station.city.capitalize! %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @station.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @station.longitude %>
</p>
<p>
  <strong>Elevation:</strong>
  <%= @station.elevation %>
</p>


<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=5&markers=#{@station.latitude}%2C#{@station.longitude}" %>
</div
<%= render 'weatherdata' %>

<%= render 'chart' %>
<div id="temperature_chart" style="width:800px; height:400px; margin-top:200px;"></div>