  <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <%= image_tag "logo.png", :class => 'logo'%>
          <%= link_to "Golden Hope", root_url, :class => 'brand'%>
          <ul class="nav">
            <li><%= link_to "Dataset 1", datasetones_path %></li>
            <li><a href="#">Dataset 2</a></li>
            <li><%= link_to "Dataset 3", datasetthree_path %></li>
            <li><%= link_to "Stations", stations_path %></li>
          </ul>
          <div id="user_nav">
		        <% if current_user %>
		          Logged in as <%= current_user.email %>
              <%= link_to "Edit details", edit_current_user_path, :class => "btn small primary" %>
		          <%= link_to "Log out", logout_path, :class => "btn small" %>
		        <% else %>
      		   <p>Not logged in</p>
      		  <% end %>
        </div>
      </div>
    </div>
    </div>